body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
    font-family: 'Helvetica Neue', Arial, sans-serif;
}
section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 2rem;
    transition: background-image 0.5s ease-in-out;
}
.artwork-info {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.400);
    padding: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

section:hover .artwork-info {
    opacity: 1;
    padding-left: 10%;
    color: lightgray;
}