.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    position: relative;
}

#viewDataBtn {
    position: relative;
    top: 0;
    right: 0;
}

#backBtn {
    margin-bottom: 20px;
}

.center-content {
    text-align: center;
    margin-top: 60px; /* Adjust this value as needed to create space below the View All Data button */
}

#itemName {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

#submitBtn {
    padding: 10px 20px;
}

#suggestions {
    list-style-type: none;
    padding: 0;
}

.hidden {
    display: none;
}

.categoryBtn.selected {
    background-color: #007bff;
    color: white;
}

#costInput, #notesInput {
    margin-top: 10px;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    background-color: #fff;
}
.card-title {
    margin-bottom: 20px;
}

.tooltip-inner {
    background-color: #333;
    color: #fff;
    border-radius: 4px;
    padding: 10px;
    font-size: 14px;
    max-width: 200px;
    text-align: center;
}

.tooltip .arrow::before {
    border-top-color: #333;
}

.loading-spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1050;
}

.limerick {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.monkey-video {
    max-width: 100%;
    height: auto;
}

body {
    font-family: Arial, sans-serif;
}

#topItems {
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    background-color: #fff;
}

#topItems .item {
    width: 100%;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}